{{> header}}
            <h1>Acceso desconocido</h1>

            <p>
              
                Saludos, Sr@ <span style="font-weight: 600;">{{name}}</span> <span style="font-weight: 600;">{{last_name}}</span>, Se ha accedido a tu cuenta de SportYeah con una dirección IP no habitual.
            </p>
            <p>
                El acceso se dio mediante la dirección IP <span style="font-weight: 600;">{{ip}}</span>, en <span style="font-weight: 600;">{{city}}</span>, <span style="font-weight: 600;">{{country}}</span>.
            </p>
         

         <div style="margin-top:5rem;width: 100%;text-align:center !important;">
            <a href="{{link}}" style="font-size: 14px;
                padding: 6px 12px;
                margin-bottom: 0;
                display: inline-block;
                text-decoration: none;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                background: #006400;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;">Ir a SportYeah</a>
         </div>
          
         

{{>footer}}

