<h1 style="text-align: center;">Información general de la app</h1>

<h4 style="margin: 0;font-size:16px">Cantidad de usuarios registrados </h4>
<h1 style="margin: 0;margin-bottom:4px;color:green">{{appInfo.usersInfo.total}}</h1>
<h4 style="margin: 0;font-size:16px">Cantidad de usuarios en linea </h4>
<h1 style="margin: 0;margin-bottom:4px;color:green">{{appInfo.usersInfo.connecteds}}</h1>
<h4 style="margin: 0;font-size:16px">Cantidad de publicaciones creadas hoy</h4>
<h1 style="margin: 0;margin-bottom:4px;color:green">{{appInfo.posts}}</h1>
<h4 style="margin: 0;font-size:16px">Cantidad de noticias creadas hoy</h4>
<h1 style="margin: 0;margin-bottom:4px;color:green">{{appInfo.news}}</h1>
<h4 style="margin: 0;font-size:16px">Memoria en el servidor</h4>
<div>
  <span> Memoria usada:</span>
  <span style="margin:0;font-size: 16px;
    font-weight: bold;  
    color: red;"> {{appInfo.used}} GB</span>
</div>