{{> header}}

<h1 style="text-align: center;">{{title}}</h1>
<h2>Información del usuario</h2>

<h4 style="margin: 0;font-size:16px">Nombre</h4>
<p style="margin: 0;margin-bottom:4px;font-size:16px">{{name}} {{last_name}}</p>
<h4 style="margin: 0;font-size:16px">Nombre de usuario</h4>
<p style="margin: 0;margin-bottom:4px;font-size:16px"><a href="https://app.sportyeah.com/user/{{username}}">@{{username}}</a> </p>
<h4 style="margin: 0;font-size:16px">Correo electrónico</h4>
<p style="margin: 0;margin-bottom:4px;font-size:16px"> <a href="mailto:{{email}}">{{email}}</a></p>
<h4 style="margin: 0;font-size:16px">Deporte escogido</h4>
<div style="margin: 0;
    margin-bottom: 4px;
    font-size: 16px;
    display: flex;
    place-items: center;
    gap: 14px;
    margin-top: 10px;
   ">
    <img style="    max-width: 50px;
    max-height: 50px;" src="{{sportImage}}" alt="">
    <p style=" font-size: 20px;
    font-weight: 700;margin:10px"> {{sport}}</p>
</div>
<h4 style="margin: 0;font-size:16px">Tipo de usuario</h4>
<p style="margin: 0;margin-bottom:4px;font-size:16px">{{profile}}</p>
<h4 style="margin: 0;font-size:16px">Pais donde se registro</h4>
<p style="margin: 0;margin-bottom:4px;font-size:16px">{{country}}</p>
<h4 style="margin: 0;font-size:16px">Dirección IP</h4>
<p style="margin: 0;margin-bottom:4px;font-size:16px">{{ip}}</p>
<img style="border-radius: 5px; border: solid 2px #385d88" src="{{mapUrl}}" alt="GMAPS">

<h4 style="margin: 0;font-size:16px">Navegador empleado </h4>
<p style="margin: 0;margin-bottom:4px;font-size:16px">{{browser}}</p>


{{>button}}
{{>infoapp}}






{{>footer}}