{{> header}}
<h1>Activar cuenta</h1>
<p>
  Saludos, Sr@ <span style="font-weight: 600;">{{name}}</span> <span style="font-weight: 600;">{{last_name}}</span>,
  gracias por unirte a SportYeah.
</p>
<p>
  Para verificar que el correo de su representado <span style="font-weight: 300;">{{name_young}}</span> <span style="font-weight: 300;">{{last_name_young}}</span> le pertenece y poder completar el registro haga click en el boton de abajo.
</p>
<div style="margin-top:5rem;width: 100%;text-align:center !important;">
  <a href="{{link}}" style="font-size: 14px;
                padding: 6px 12px;
                margin-bottom: 0;
                display: inline-block;
                text-decoration: none;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                background: #006400;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;">Verificar cuenta</a>
</div>
{{>footer}}