{{> header}}

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

    <!-- START HEADER/BANNER -->

    <tbody>
        <tr>
            <td align="center">
                <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td align="center" valign="top" bgcolor="#66809b"
                                style="background-size:cover; background-position:top;height: 400;background: #9ae6c0;">
                                <table class="col-600" width="600" height="400" border="0" align="center"
                                    cellpadding="0" cellspacing="0">

                                    <tbody>
                                        <tr>
                                            <td height="40"></td>
                                        </tr>


                                        <tr>
                                            <td align="center" style="line-height: 0px;">
                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;width:206px;height: 206px;"
                                                    src="https://img.icons8.com/plasticine/344/handshake.png"
                                                    width="109" height="103" alt="logo">
                                                <p>

                                                </p>
                                            </td>
                                        </tr>



                                        <tr>
                                            <td align="center"
                                                style="font-family: 'Raleway', sans-serif; font-size:37px; color:black; line-height:24px;  letter-spacing: 7px;">
                                                Cuenta <span
                                                    style="font-family: 'Raleway', sans-serif; font-size:37px; color:black; line-height:39px; font-weight: 300;  letter-spacing: 5px;margin-left:37px;">
                                                    administrativa</span>
                                            </td>
                                        </tr>





                                        <tr>
                                            <td align="center"
                                                style="font-family: 'Lato', sans-serif; font-size:15px; color:black; line-height:24px; font-weight: 300;">
                                                <p>
                                                    Bienvenido, Sr@ <span style="font-weight: 600;">{{name}}</span>
                                                    <span style="font-weight: 600;">{{last_name}}</span>, Esta es tu
                                                    cuenta como administrador de sportyeah...
                                                <p>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td height="50"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <!-- END HEADER/BANNER -->


        <!-- START 3 BOX SHOWCASE -->

        <tr>
            <td align="center">
                <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
                    style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                    <tbody>
                        <tr>
                            <td height="35"></td>
                        </tr>

                        <tr>
                            <td align="center"
                                style="font-family: 'Raleway', sans-serif; font-size:22px; font-weight: bold; color:#2a3a4b;">
                                <p> Para iniciar sesión deberas utilizar estos datos:
                                </p>
                            </td>
                        </tr>



                        <tr>
                            <td align="center"
                                style="font-family: 'Lato', sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300;">
                                <p>
                                <p>
                                    Correo: {{email}}
                                </p>
                                <p>
                                    Contraseña: {{password}}
                                </p>
                                </p>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>






        <!-- END 3 BOX SHOWCASE -->


        <!-- START AWESOME TITLE -->




        <!-- END AWESOME TITLE -->


        <!-- START WHAT WE DO -->

        <tr>
            <td align="center">
                <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
                    style="margin-left:20px; margin-right:20px;">



                    <tbody>
                        <tr>
                            <td align="center">
                                <table class="col-600" width="600" border="0" align="center" cellpadding="0"
                                    cellspacing="0"
                                    style=" border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                                    <tbody>
                                        <tr>
                                            <td height="50"></td>
                                        </tr>
                                        <tr>
                                            <td align="right">


                                                <table class="col2" width="287" border="0" align="right" cellpadding="0"
                                                    cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <!--   <td align="center" style="line-height:0px;">
                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;" class="images_style" src="https://i.postimg.cc/XY7W0c4H/Captura2.png" width="169" height="138">
                                            </td> -->
                                                        </tr>
                                                    </tbody>
                                                </table>






                                                <table width="287" border="0" align="left" cellpadding="0"
                                                    cellspacing="0" class="col2" style="">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center">
                                                                <table class="insider" width="237" border="0"
                                                                    align="center" cellpadding="0" cellspacing="0">



                                                                    <tbody>
                                                                        <tr align="left">
                                                                            <!-- <td style="font-family: 'Raleway', sans-serif; font-size:23px; color:#2a3b4c; line-height:30px; font-weight: bold;">Organiza tus deseos</td> -->
                                                                        </tr>

                                                                        <tr>
                                                                            <td height="5"></td>
                                                                        </tr>


                                                                        <tr>
                                                                            <!-- <td style="font-family: 'Lato', sans-serif; font-size:14px; color:#7f8c8d; line-height:24px; font-weight: 300;">
                                                            Organiza tu lista de deseos , ten tus deseos pendientes, tus deseos cumplidos y tus gustos .
                                                        </td> -->
                                                                        </tr>


                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>


                        <!-- END WHAT WE DO -->



                        <!-- START READY FOR NEW PROJECT -->



                        <!-- END READY FOR NEW PROJECT -->


                        <!-- START PRICING TABLE -->



                        <!-- END PRICING TABLE -->


                        <!-- START FOOTER -->

                        <tr>
                            <td align="center">
                                <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0"
                                    style=" border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                                    <tbody>
                                        <tr>
                                            <td height="50"></td>
                                        </tr>
                                        <tr>
                                            <td align="center" bgcolor="#34495e" style="background:#9ae6c0"
                                                height="185">
                                                <table class="col-600" width="600" border="0" align="center"
                                                    cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td height="25"></td>
                                                        </tr>

                                                        <tr>
                                                            <td align="center"
                                                                style="font-family: 'Raleway',  sans-serif; font-size:26px; font-weight: 500; color:black;">
                                                                <a href="{{link_app}}" style="font-size: 14px;
                                        padding: 6px 12px;
                                        margin-bottom: 0;
                                        display: inline-block;
                                        text-decoration: none;
                                        text-align: center;
                                        white-space: nowrap;
                                        vertical-align: middle;
                                        -ms-touch-action: manipulation;
                                        touch-action: manipulation;
                                        background: #f08f97;
                                        color: white;
                                        border-radius: 5px;
                                        cursor: pointer;
                                        -webkit-user-select: none;
                                        -moz-user-select: none;
                                        -ms-user-select: none;
                                        user-select: none;
                                        background-image: none;
                                        border: 1px solid transparent;">Iniciar sesión en sportyeah</a>

                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td height="25"></td>
                                                        </tr>



                                                    </tbody>
                                                </table>
                                                <table align="center" width="35%" border="0" cellspacing="0"
                                                    cellpadding="0">
                                                    <!-- <tbody><tr>
                                    <td align="center" width="30%" style="vertical-align: top;">
                                            <a href="https://www.facebook.com/designmodo" target="_blank"> <img src="https://designmodo.com/demo/emailtemplate/images/icon-fb.png"> </a>
                                    </td>

                                    <td align="center" class="margin" width="30%" style="vertical-align: top;">
                                         <a href="https://twitter.com/designmodo" target="_blank"> <img src="https://designmodo.com/demo/emailtemplate/images/icon-twitter.png"> </a>
                                    </td>

                                    <td align="center" width="30%" style="vertical-align: top;">
                                            <a href="https://plus.google.com/+Designmodo/posts" target="_blank"> <img src="https://designmodo.com/demo/emailtemplate/images/icon-googleplus.png"> </a>
                                    </td>
                                </tr>
                                </tbody></table> -->



                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <!-- END FOOTER -->



                    </tbody>
                </table>




                {{!-- <h1>Cuenta administrativa</h1>

                <p>

                    Bienvenido, Sr@ <span style="font-weight: 600;">{{name}}</span> <span
                        style="font-weight: 600;">{{last_name}}</span>, Esta es tu cuenta como administrador de
                    sportyeah...
                </p>
                <p>
                    Para iniciar sesión deberas utilizar estos datos:
                </p>
                <p>
                    Correo: {{email}}
                </p>
                <p>
                    Contraseña: {{password}}
                </p>


                <div style="margin-top:5rem;width: 100%;text-align:center !important;">
                    <a href="{{link}}" style="font-size: 14px;
                padding: 6px 12px;
                margin-bottom: 0;
                display: inline-block;
                text-decoration: none;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                background: #954ec6;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;">Iniciar sesión como administrador</a>
                </div>

                <p>
                    Puedes cambiar tu contraseña o cualquiera de tus datos cuando lo desees desde nuestra app
                </p>
                <div style="width: 100%;text-align:center !important;">
                    <a href="{{link_app}}" style="font-size: 14px;
                padding: 6px 12px;
                margin-bottom: 0;
                display: inline-block;
                text-decoration: none;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                background: #954ec6;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-image: none;
                border: 1px solid transparent;">Iniciar sesión en sportyeah</a>
                </div>

                --}}

                {{>footer}}